
.pics {
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 820px;
    width: 100%;
}

#first_kit {
    background-image: url("images/kit1.jpg");
    position: absolute;
    right: 0px;

}


#second_kit {
    background-image: url("images/kit2.jpg");
    position: absolute;
    right: -1440px;
    bottom: 0px;
}
#third_kit {
    position: absolute;
    background-image: url("images/kit3.jpg");
    right: -1440px;
    bottom: 0px;

}
#fourth_kit {
    position: absolute;
    background-image: url("images/kit4.jpg");
    right: -1440px;
    bottom: 0px;

}


.middle-to-left {
    transition-property: transform;
    transition-duration: 2s;
    transform: translateX(-100%);
}
.right-to-middle {
    transition-property: transform;
    transition-duration: 2s;
    transform: translateX(-100%);

}

.dots {
    position: absolute;
    height: 100px;
    width: 400px;
    display: inline;
    bottom: 50px;
    left: 32%;
}

#dot1 {
    margin-right: 20px;
    position: relative;
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 6px solid white;
    border-radius: 50%;
    background-color: transparent;
}

#dot2 {
    margin-right: 20px;
    position: relative;
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 6px solid white;
    border-radius: 50%;
}

#dot3 {
    margin-right: 20px;
    position: relative;
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 6px solid white;
    border-radius: 50%;
}

#dot4 {
    margin-right: 20px;
    position: relative;
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 6px solid white;
    border-radius: 50%;
}

.middle {
    right: 0px;
}
